body{
    margin: 20px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    box-sizing: border-box;
}
.container{
    max-width: 387px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(216, 209, 209, 0.1);
    display: block;
    margin-top: 50px;
    text-align: center;
}
.logo{
    margin: auto;
    display: block;
    width: 100px;
    height: 100px;
}
.text{
    text-align: center;
    margin-top: 0;
    font-size: 10px;
    color: rgba(247, 182, 4, 0.966);
    font-family: fantasy;
    text-decoration: dotted;
    padding-top: 0;
}
p{
    font-weight: bold;
    padding: 10px;
    color: rgb(31, 30, 30);
}
input[type="text"], input[type="password"]{
    width: 100%;
    padding-right: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 4px solid rgb(230, 220, 220);
    border-radius: 5px;
    margin-left: 0;
    margin-bottom: 1px;
    box-sizing: border-box;
}
:placeholder-shown{
    border-color: rgb(179, 168, 168);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    margin-left: 6px;
    padding-left: 16px;
}
input[type="password"]{
    margin-top: 0;
}
input[type="text"]{
    margin-bottom: 0;
}
input[type="text"], input[type="password"]:focus{
    border-color: rgb(139, 216, 216);
}
input[type="text"], input[type="password"]:active{
    border-color: rgba(122, 211, 211, 0.788)(0, 255, 255, 0.788);
}
input:valid{
    border-color: rgb(124, 207, 207);
}
a{
    color: rgba(26, 24, 24, 0.815);
    text-decoration: none;
    margin-top: 2px;
}
a:hover{
    text-decoration: underline;
    color: rgb(114, 184, 207);
}
.log{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 18px;
    background-color: rgb(9, 163, 214);
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 10px;
}
.log:hover{
    background-color: rgb(11, 107, 139);
}
.log:active{
    background-color: rgb(7, 66, 86);
}
.guest{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 18px;
    background-color: white;
    border: 2px solid rgba(209, 203, 203, 0.692);
    border-radius: 5px;
}
.guest:hover{
    background-color: rgb(235, 230, 230);
}
.guest:active{
    background-color: rgb(220, 220, 220);
}