body{
    margin: 20px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
.container{
    max-width: 350px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(216, 209, 209, 0.1);
    display: block;
    margin-top: 50px;
    text-align: center;
}
.logo{
    margin: auto;
    display: block;
    width: 100px;
    height: 100px;
}
.text{
    text-align: center;
    margin-top: 0;
    font-size: 10px;
    color: rgba(247, 182, 4, 0.966);
    font-family: fantasy;
    text-decoration: dotted;
}